.searchBar {
    width: 25vw;
    height: 40px;
    border-radius: 50px;
    background: #ffffff;
    border: 7px solid;
    border-color: #7d85db;
    position: fixed;
    top: 0%;
    left: 37.5%;
    right: 62.5%;
}
input {
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    text-align: center;
}
.placeholder::before {
    content: "\A";
}

.categWindow {
    width: 25vw;
    height: 100vh;
    background: #ffffff;
    border: 7px solid;
    border-color: #7d85db;
    position: fixed;
    top: 0%;
    left: 75%;
    text-align: center;
    padding: 7px;
    line-break: auto;
}

.categRect {
    display: flex;
    flex-direction: column;
}

.categRect:nth-child(n) {
    background: gainsboro;
    border: 7px solid;
    border-color: bisque;
}

